<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: black;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    color: cornflowerblue;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            
        }
        .arrow {
            border: solid #f1f1f1;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!--  <button name="AddIt"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
          <button name="AddIt"><span class="glyphicon glyphicon-user"></span></button>-->
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @Html.ActionLink("Capstone Magic", "LogIn", "LogIn", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">

                    




                </ul>

                @{
                    if (Session["Username"] == null)
                    {

                    }
                    else
                    {
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                                    <li>@Html.ActionLink("Tasks", "Index", "AllTasks", new { area = "" }, null) </li>
                                    @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "Moderator")
                                    {
                                        <li>@Html.ActionLink("Manage Users", "Index", "Volunteers", new { area = "" }, null) </li>
                                    }

                                </ul>
                                <ul class="nav navbar-nav pull-right">
                                    <li class="dropdown">
                                        <a class="dropbtn">@Session["Username"].ToString() <i class="arrow down" ></i></a>
                                        <div class="dropdown-content">
                                            <a>@Html.ActionLink("Uppdate Profile", "UpdateProfile", "Volunteers")</a>
                                          
                                            
                                        </div>
                                    </li>
                                    

                                    <li>@Html.ActionLink("Log out", "LogOut", "LogIn")</li>
                                </ul>
    }

    }


</div>

        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <br /><br /><hr />

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <footer>
        <p>&copy; @DateTime.Now.Year - Capstone Magic</p>
    </footer>


</body>
</html>
