@model TermProjectUI.Models.VolunteerModel

@{
    ViewBag.Title = "Create";
}

<h2>Create User</h2>
<style>
    a {
        color: white;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="col-md-12">
                <font color="red"><strong>*</strong></font>Name

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "width:255px;" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12">
                <font color="red"><strong>*</strong></font>Email Address
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "width:255px;" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <font color="red"><strong>*</strong></font>Password

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @style = "width:255px;" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <font color="red"><strong>*</strong></font>Confirm Password

                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @style = "width:255px;" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-row">
                        <div class="col">
                            <font color="red" size="3px">
                                <p>@ViewBag.Message</p>
                            </font>
                        </div>
                        </div>
                    </div>
            </div>
            
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-3">

                                <button class="btn btn-primary" type="submit" value="Create" id="btnSave" style="float:left; background-color: grey;border-color: black;width:120px;">Submit</button>
                                <button class="btn btn-primary" type="reset" id="reset" value="Reset" style="float:left; background-color: grey;border-color: black; margin-left: 12px;width:120px;">Reset</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

}


