@model TermProjectUI.Models.AllTaskModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="@Url.Content("https://fonts.googleapis.com/css?family=Playfair+Display:400,700")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/assets/fonts/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/Comment.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/Community-ChatComments.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/Map-Clean.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet" type="text/css" />



@foreach (var item in Model.TransportationTasks)
{


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xl-9">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Images/transportation_Nav.JPG" style="float: left; margin-left: -2%;height: 15%; width: 15%;">
                            <h1 style="margin-top : 3%;">

                                @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.taskName), "../TransportationTasks/Details", new { id = item.Id })
                            </h1>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />



}
@foreach (var item in Model.InventoryTasks)
{


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xl-9">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Images/inventory_Nav.JPG" style="float: left; margin-left: -2%;height: 15%; width: 15%;">
                            <h1 style="margin-top : 3%;">

                                @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.taskName), "../InventoryTasks/Details", new { id = item.Id })
                            </h1>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />



}
@foreach (var item in Model.PhotographyTasks)
{


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xl-9">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Images/other_Nav.JPG" style="float: left; margin-left: -2%;height: 15%; width: 15%;">
                            <h1 style="margin-top : 3%;">

                                @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.taskName), "../PhotographyTasks/Details", new { id = item.Id })
                            </h1>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />



}
@foreach (var item in Model.OtherTasks)
{


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xl-9">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Images/other_Nav.JPG" style="float: left; margin-left: -2%;height: 15%; width: 15%;">
                            <h1 style="margin-top : 3%;">

                                @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.taskTitle), "../OtherTasks/Details", new { id = item.Id })
                            </h1>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />



}
