


<div class="row">

    <div class="col-md-12">

        <a href="@Url.Action("Create", "InventoryTasks")" title="List View" class="links" style="margin-right: 3%;">
            <img alt="List View" src="@Url.Content("~/Images/inventory_Nav.JPG")" style="width: 30%; height:30%;">
        </a>

        <a href="@Url.Action("Create", "PhotographyTasks")" title="List View" class="links" style="margin-right: 3%;">
            <img alt="List View" src="@Url.Content("~/Images/photography_Nav.JPG")" style="width: 30%; height:30%;">
        </a>

        <a href="@Url.Action("Create", "GroomingTasks")" title="List View" class="links" style="margin-right: 3%;">
            <img alt="List View" src="@Url.Content("~/Images/grooming_Nav.JPG")" style="width: 30%; height:30%;">
        </a>


        <a href="@Url.Action("Create", "TransportationTasks")" title="List View" class="links" style="margin-right: 3%; ">
            <img alt="List View" src="@Url.Content("~/Images/transportation_Nav.JPG")" style="width: 30%; height:30%;">
        </a>

        <a href="@Url.Action("Create", "VetTasks")" title="List View" class="links" style="margin-right: 3%; ">
            <img alt="List View" src="@Url.Content("~/Images/vet_Nav.JPG")" style="width: 30%; height:30%;">
        </a>

        <a href="@Url.Action("Create", "OtherTasks")" title="List View" class="links" style="margin-right: 1%;">
            <img alt="List View" src="@Url.Content("~/Images/other_Nav.JPG")" style="width: 30%; height:30%;">
        </a>
    </div>
</div>



