<link href="@Url.Content("https://fonts.googleapis.com/css?family=Lora")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet" type="text/css" />

<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xl-3">
                @using (Html.BeginForm("UserImageChange", "LogIn", FormMethod.Post, new
                {
                    @class = "form-horizontal",
                    role = "form",
                    enctype = "multipart/form-data"
                }))
                {
                    <img src="@Html.ViewData["Img"]" style="margin-left: 2%;width: 70%;height:100%;">
                    <input type="file" name="file" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif"  /><br />
                    <input type="submit" value="Update Image"/>
                }

                    <div class="card" style="border-right: solid grey 1px; width: 80%;">
                        <div class="card-body">
                            <h3 class="card-title">@Session["Username"].ToString()</h3>
                            <div class="card">
                                <div class="card-body">
                                    <h4>Unassigned</h4>
                                    <a href="@Url.Action("Index", "TransportationTasks")" title="List View" class="links">
                                        <button class="btn btn-primary" type="button" style="margin-left: 2%;float: left;background-color: grey;border-color: black;">Urgent</button>
                                    </a>
                                    <p style="margin-top: 4%;margin-left: 4%;float: left;">3</p>

                                    <br />
                                    <br />
                                    <a href="@Url.Action("Index", "TransportationTasks")" title="List View" class="links">
                                        <button class="btn btn-primary" type="button" style="margin-left: 2%;float: left;background-color: grey;border-color: black;">Normal</button>
                                    </a>
                                    <p style="margin-top: 4%; margin-left: 4%;float: left;">3</p>
                                </div>
                                <br />
                                <br />
                                <div class="card-body">
                                    <h4>Assigned</h4>
                                    <a href="@Url.Action("Index", "TransportationTasks")" title="List View" class="links">
                                        <button class="btn btn-primary" type="button" style="margin-left: 2%;float: left;background-color: grey;border-color: black;">Urgent</button>
                                    </a>
                                    <p style="margin-top: 4%;margin-left: 4%;float: left;">3</p>

                                    <br />
                                    <br />
                                    <a href="@Url.Action("Index", "TransportationTasks")" title="List View" class="links">
                                        <button class="btn btn-primary" type="button" style="margin-left: 2%;float: left;background-color: grey;border-color: black;">Normal</button>
                                    </a>
                                    <p style="margin-top: 4%; margin-left: 4%;float: left;">3</p>
                                </div>
                            </div>
                            <br />

                            <div class="card">
                                <div class="card-body">
                                    <br />
                                    <h4>Tools</h4>
                                    <a href="@Url.Action("CreateTaskSelection", "Home")" title="List View" class="links">
                                        <button class="btn btn-primary" type="button" style="margin: 2%;background-color: grey;border-color: black;">Create Task</button>
                                    </a>

                                    <button class="btn btn-primary" type="button" style="margin: 2%;background-color: grey;border-color: black;">Create Report</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            <div class="col-md-9 col-xl-9" style="float: left">
                <div class="row">
                    <div class="col-md-12 col-xl-9">
                        <div class="card" style="float: left;">
                            <div class="card-header">
                                <h5 class="mb-0">Your Tasks</h5>
                            </div>
                            <div class="card-body" style="float: left">
                                <div class="card" style="width: 150%;float: left; ">
                                    <div class="card-body" style="width: 12%;float: left;border: solid black 1px">
                                        saddasaddsad
                                        <br />

                                        <button class="btn btn-primary" type="button" style=" background-color: grey;border-color: black;">Task 1</button>

                                        <br />
                                        saddasaddsad
                                        <br />
                                        sasdasaasdas
                                        <br />
                                        sasdsssasa
                                        <br />
                                        sasdasaasdaa
                                        <br />
                                        sasdasaasdaa
                                    </div>
                                    <div class="card-body" style="width: 12%;float: left;border: solid black 1px">
                                        saddasaddsad
                                        <br />

                                        <button class="btn btn-primary" type="button" style=" background-color: grey;border-color: black;">Task 2</button>

                                        <br />
                                        saddasaddsad
                                        <br />
                                        sasdasaasdas
                                        <br />
                                        sasdsssasa
                                        <br />
                                        sasdasaasdaa
                                        <br />
                                        sasdasaasdaa
                                    </div>
                                    <div class="card-body" style="width: 12%;float: left;border: solid black 1px">
                                        saddasaddsad
                                        <br />

                                        <button class="btn btn-primary" type="button" style=" background-color: grey;border-color: black;">Task 3</button>

                                        <br />
                                        saddasaddsad
                                        <br />
                                        sasdasaasdas
                                        <br />
                                        sasdsssasa
                                        <br />
                                        sasdasaasdaa
                                        <br />
                                        sasdasaasdaa
                                    </div>
                                    <div class="card-body" style="width: 12%;float: left;border: solid black 1px">
                                        saddasaddsad
                                        <br />
                                        <button class="btn btn-primary" type="button" style=" background-color: grey;border-color: black;">Task 4</button>

                                        <br />
                                        saddasaddsad
                                        <br />
                                        sasdasaasdas
                                        <br />
                                        sasdsssasa
                                        <br />
                                        sasdasaasdaa
                                        <br />
                                        sasdasaasdaa
                                    </div>
                                    <div class="card-body" style="width: 12%;float: left;border: solid black 1px">
                                        saddasaddsad
                                        <br />

                                        <button class="btn btn-primary" type="button" style=" background-color: grey;border-color: black;">Task 5</button>

                                        <br />
                                        saddasaddsad
                                        <br />
                                        sasdasaasdas
                                        <br />
                                        sasdsssasa
                                        <br />
                                        sasdasaasdaa
                                        <br />
                                        sasdasaasdaa
                                    </div>

                                    <div class="card-body" style="width: 25%;float: left;">

                                        <img src="~/Images/cal.png" style="height: 80%; width: 80%; margin-top: -8%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <a href="@Url.Action("Index", "TransportationTasks")" title="List View" class="links">
                    <button class="btn btn-primary" type="button" style=" margin-right: 10%;  float: right; background-color: grey;border-color: black;">Join a Task</button>
                </a>

                <br />
                <hr />
                <div class="row">
                    <div class="col-xl-12">
                        <h1 class="text-center">Your Wonderful Article Title</h1>
                        <p>
                            Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel
                             sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.<br><br>
                        </p>
                        <h2>Aliquam In Arcu </h2>
                        <p>
                            Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. <strong>Ut vehicula rhoncus</strong> elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit <em>pulvinar dict</em> vel in justo. Vestibulum
                            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
