@model IEnumerable<TermProjectUI.Models.TransportationTaskModel>

@{
    ViewBag.Title = "Index";
}

<style>
    a {
        color: black;
    }
</style>
<h2>Index</h2>
<button class="btn btn-primary" style=" background-color: grey;border-color: black; ">
    @Html.ActionLink("Create A Transportation Task", "Create", "TransportationTasks", new { area = "" }, null)
</button>
<!--
<p>
   Html.ActionLink("Create New", "Create")
</p>


         <td>
           Html.ActionLink("Edit", "Edit", new { id = item.taskID }) |
             Html.ActionLink("Details", "Details", new { id = item.taskID }) |
             Html.ActionLink("Delete", "Delete", new { id = item.taskID })
            </td> -->










<link href="@Url.Content("https://fonts.googleapis.com/css?family=Playfair+Display:400,700")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/assets/fonts/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/Comment.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/Community-ChatComments.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/Map-Clean.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/styles.css")" rel="stylesheet" type="text/css" />



@foreach (var item in Model)
{


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-9">
                    <div class="row">
                        <div class="col">
                            <img src="~/Images/transportation_Nav.JPG" style="float: left; height: 15%; width: 15%;">
                            <h1 style="float: left;margin-top: 2%;">     @Html.ActionLink("" + item.taskName, "Details", new { id = item.taskID })</h1>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr />



}
